$path: './fonts';

@font-face {
	font-family: "Core Sans G5 45 Regular";
  src: url("#{$path}/CoreSansGS45Regular.eot") format("eot"),
		 url("#{$path}/CoreSansGS45Regular.ttf") format("truetype"),
		 url("#{$path}/CoreSansGS45Regular.woff") format("woff");
}

$core-45-regular: "Core Sans G5 45 Regular";
