.row {
  &.two-columns {
    .column {
      float: left;
      width: $panel-width-half;
      + .column {
        margin-left: 20px;
      }
    }
  }

  &.three-columns {
    .column {
      float: left;
      width: $panel-width-third;
      + .column {
        margin-left: 20px;
      }
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clearfix {
  clear: both;
}

// Media queries for mobile
@media (max-width: $panel-width) {

  .row {
    &.two-columns {
      .column {
        float: none;
        width: 100%;
        + .column {
          margin-left: 0;
        }
      }
    }

    &.three-columns {
      .column {
        float: none;
        width: 100%;
        + .column {
          margin-left: 0;
        }
      }
    }

    .column + .column {
      margin-top: $gutter-size;
    }
  }
}
