
$wing-initial-height: 22px;
header {
  // spacing
  padding: $horizontal-rhythm-desktop 0;
  margin-bottom: $horizontal-rhythm-desktop;

  // text
  color: white;

  // Background color gradient
  background: $blue; /* Old browsers */
  background: -moz-linear-gradient(left, $blue 0%, $indigo 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $blue 0%,$indigo 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $blue 0%,$indigo 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1693d9', endColorstr='#5e5ffc',GradientType=1 ); /* IE6-9 */


  // display
  display: inline-flex;
  width: 100%;
  .header-text {
    flex: 1;
    text-align: center;
  }
}

.wing-shape {
  position: relative;
  flex: 2;
  div {
    width: $horizontal-rhythm-desktop;
    height: 4px;
    background-color: white;

    position: absolute;
    right: 10px;
    &:nth-child(1){
      top: $wing-initial-height;
    }
    &:nth-child(2){
      width: $phi*$horizontal-rhythm-desktop;
      top: $wing-initial-height+13;
    }
    &:nth-child(3){
      top: $wing-initial-height+26;
    }
  }
}

.wing-shape.wing-shape-left {
  div {
    right: 10px;
  }
}

.wing-shape.wing-shape-right {
  div {
    left: 10px;
  }
}

// Media queries for mobile
@media (max-width: $panel-width) {
  header {
    padding: $horizontal-rhythm-mobile;
    text-align: center;
    background-color: blue;
    color: white;
    margin-bottom: $horizontal-rhythm-mobile;
    font-size: 80%;
  }
}
