@import "palette";

$box-shadow-size: 5px;

table.styled {

  $th-color: #757575;
  $border-color: #e5e5e5;
  $table-color: #888;
  $table-radius: 6px;

  border-collapse: collapse;
  border-radius: $table-radius;
  box-shadow: 0px 0px $box-shadow-size #bbb;

  color: #444;

  th, td {
    padding: 8px;
    text-align: left;
  }

  td {
    background: white;
    + td {
      border-left: 1px solid $border-color;
    }
  }

  tbody tr + tr {
    td {
      border-top: solid 1px $border-color;
    }
  }

  th {
    font-size: 0.9em;
    text-transform: uppercase;
    + th {
      border-left: 1px solid darken($table-color, 10%);
    }

    &:first-child {
      border-radius: $table-radius 0 0 0;
    }
    &:last-child {
      border-radius: 0 $table-radius 0 0;
    }
  }

  span + span {
    margin-left: 4px;
  }

  span {
    transition: color 0.1s;
  }

  span.active {
    color: red;
  }

  border-spacing: 0;
  border-collapse: separate;

  width: 100%;

  thead {
    background: $table-color;
    color: #eee;
    border-radius: 5px;
    font-weight: thin;
  }

  tbody {
    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 $table-radius;
      }
      td:last-child {
        border-radius: 0 0 $table-radius 0;
      }
    }
  }


  tr.active {
    td {
      background: #eee;
    }
  }
}


.indexing {

  

  overflow: visible;

  & .active {
    table {
      box-shadow: 0px 0px 8px $blue;
    }
  }

  .animation {
    position: relative;
    overflow: hidden;
    padding: 12px 0;
  }

  .source {
    width: 40%;
    position: absolute;
    left: 30%;
    margin-left: $box-shadow-size;
    transition: left 0.25s linear;
  }

  .index {
    width: 58%;
    margin-right: $box-shadow-size;
    float: right;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
  }

  .controls {
    height: 60px;
    .button {
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      width: 150px;
      height: 48px;
      line-height: 48px;
      border-radius: 5px;
      background: $button-color;
      color: $button-font-color;
      border: solid 1px darken($button-color, 5%);
      font-weight: bold;
      transition: opacity 1s linear;
      transition: background-color 0.2s linear;
      &:hover {
        background: darken($button-color, 7%);
      }
    }
  }

  .slider {
    $height: 12px;
    width: 400px;
  }

}

.search {
  margin: 8px;
  min-height: 320px;

  .term-matches {
    span {
      margin-right: 2px;
    }
    span + span {
      margin-left: 2px;
      &:before {
        content: "+";
      }
    }
  }
  .searchbox {
    margin: 5px;
    padding-bottom: 8px;
    input {
      width: 100%;
      border: solid 1px $border-color;
      border-radius: 4px;
      padding: 8px 8px;
      font-size: 15pt;
      color: #555;
      box-sizing: border-box;
    }
  }

  .hits {
    margin: 5px;
  }
}

