@import "palette";

.indexing {

  table {

    $border-color: #bbb;
    $table-color: #888;
    $table-radius: 6px;

    border-collapse: collapse;
    border: 1px solid $border-color;
    border-radius: $table-radius;
    box-shadow: 0px 0px 6px #bbb;

    color: #444;

    th, td {
      padding: 8px;
      text-align: left;
    }

    td {
      border-top: solid 1px $border-color;
      + td {
        border-left: 1px solid $border-color;
      }
    }

    th {
      font-size: 0.9em;
      text-transform: uppercase;
      + th {
        border-left: 1px solid darken($table-color, 10%);
      }

      &:first-child {
        border-radius: $table-radius 0 0 0;
      }
      &:last-child {
        border-radius: 0 $table-radius 0 0;
      }
    }

    span + span {
      margin-left: 4px;
    }

    span {
      transition: color 0.1s;
    }

    span.active {
      color: red;
    }

    border-spacing: 0;
    border-collapse: separate;

    width: 100%;

    thead {
      background: $table-color;
      color: #eee;
      border-radius: 5px;
      font-weight: thin;
    }

    tbody {
      tr:last-child {
        td:first-child {
          border-radius: 0 0 0 $table-radius;
        }
        td:last-child {
          border-radius: 0 0 $table-radius 0;
        }
      }
    }


    tr.active {
      td {
        background: #eee;
      }
    }
  }

  & .active {
    table {
      box-shadow: 0px 0px 8px $blue;
    }
  }

  .animation {
    position: relative;
    overflow: hidden;
    padding: 12px 0;
  }

  .source {
    width: 40%;
    position: absolute;
    left: 30%;
    transition: left 0.25s linear;
  }

  .index {
    width: 58%;
    float: right;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
  }

  .controls {
    height: 40px;
    .button {
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      width: 150px;
      height: 32px;
      line-height: 32px;
      border-radius: 5px;
      background: $button-color;
      color: $button-font-color;
      font-weight: bold;
      transition: opacity 1s linear;
      &:hover {
        background: red;
      }
    }
  }

  .slider {
    $height: 12px;
    width: 400px;
  }

}