// COLOR =======================================================================

// Color Vars
$blue: #26ADE4;
$indigo: #5E5FFC;

// Color Settings
$button-color: #0ca5e0;
$button-font-color: #f7f7f7;
$border-color: #bbb;
$dark-background: #222;

// Text color
$title-color: #0a69c3;
$font-color: #0a55a0;
$chapter-title-color: #0A55A0;
$chapter-index-color: #0B6AC3;

// Layout colors
$frame-color: #0ca5e0;
$fill-color: #fbfdff;
$rule-color: #4a90e2;
$footer-background-color: $blue;
$footer-text-color: white;

// TYPE ========================================================================
@import "core-sans";
// Font
$body-font: $core-45-regular, sans-serif;
$header-font: $core-45-regular, sans-serif;

// Color
$chapter1-text-color: blue;
$chapter2-text-color: blue;
$chapter3-text-color: blue;

// Text sizing
$mobile-font-size: 18px;
$tablet-font-size: 20px;
$desktop-font-size: 24px;
$display-font-size: 36px;

$line-length: 29em;

// SPACING =====================================================================
$phi: 1.6180339887;

// Vertical Rhythms
$gutter-size: 20px;

// Horizontal Rhythms
$horizontal-rhythm-desktop: 50px;
$horizontal-rhythm-mobile: 20px;

// RESPONSIVE BREAK POINTS =====================================================

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-lg-desktop: 1440px;
$breakpoint-display: 2500px;

// MODULES =====================================================================

// Sizingpane
$panel-width: auto;
$panel-width-half: $panel-width / 2;
$panel-width-third: $panel-width / 3;
$page-height: auto;
