$border-color: #bbb;
$page-height: 500px;

$dark-background: #222;

$gutter-size: 20px;

$panel-width: 1240px;
$panel-width-half: 610px;
$panel-width-third: 400px;

$button-color: #444;
$button-font-color: #f7f7f7;

$blue: #26ADE4;