@import "palette";
@import "grid";
@import "responsive";
@import "interactions";
@import "typography";
@import "images";
@import "header-image";

html, body {
  font-family: 'Helvetica', sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.center {
  text-align: center;
}

.storyofsearch {
  width: $panel-width;
  overflow: hidden;

  .frame {
    background-color: $fill-color;
  }
}

// Each vertical component, or page
.page {
  text-align: center;
  padding: 1em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  &.break {
    background: $dark-background;
    height: 150px;
    color: white;
  }
}

.index-interaction {
  margin-top: 32px;
  height: auto;
}

.vertical-rule {
  height: 200px;
  width: 2px;
  margin: 8% auto;
  background-color: $rule-color;
}

.footer {
  padding: 2em;
  background-color: $footer-background-color;
  color: $footer-text-color;
}

.branding {
  text-align: center;
  font-size: 0.9em;
  color: #888;
  margin: 32px auto 8px auto;
  p {
    margin: 0;
    padding: 0;
  }
}

@media screen and(min-width: $breakpoint-display) {
  .page {
    max-width: 2000px;
  }
}
