@import "palette";
@import "grid";
@import "responsive";
@import "interactions";
@import "typography";
@import "images";
@import "header-image";

html, body {
  font-family: 'Helvetica', sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.center {
  text-align: center !important;
}

.storyofsearch {
  width: $panel-width;
  overflow: hidden;

  .frame {
    background-color: $fill-color;
  }
}


@keyframes penelope {
  from { left: 60%; }
  to { left: 63%; }
}

// For images in interactive areas
.chapter3 {
  position: relative;
  overflow: hidden;

  .penelope-pointing {
    position: absolute;
    left: 60%;
    top: 340px;
    transition: opacity 0.25s linear;
    z-index: 2;
    animation-name: penelope;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  .penelope-inspection {
    z-index: -1;
    margin-bottom: -60px;
    float: left;
    width: 60%;
  }
}

// Each vertical component, or page
.page {
  text-align: center;
  padding: 1em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  &.break {
    background: $dark-background;
    height: 150px;
    color: white;
  }
}

.index-interaction {
  height: auto;
}

.vertical-rule {
  height: 200px;
  width: 2px;
  margin: 8% auto;
  background-color: $rule-color;
}

.branding {
  text-align: center;
  font-size: 0.9em;
  color: #888;
  margin: 32px auto 8px auto;
  p {
    margin: 0;
    padding: 0;
  }
}

.pink-bg {
  background-image: url("./art/pink-bg.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: contain;
  height: 140px;
  > p {
    margin-top: 3em;
  }
}

@media screen and(min-width: $breakpoint-display) {
  .page {
    max-width: 2000px;
  }
}

footer.footer {
  margin-top: 4em;
  padding: 3em 2em;
  color: $footer-text-color;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(left, $blue 0%, $indigo 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $blue 0%, $indigo 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $blue 0%, $indigo 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

  .footer-text {
    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 13px;
      font-weight: 300;
      line-height: 24px;
    }
    .copyright {
      color: #A0C7F7;
      display: block;
      font-family: 'Inconsolata', monospace;
      font-size: 12px;
      margin-top: 4em;
    }
  }
}
