@import "palette";
@import "grid";
@import "responsive";
@import "interactions";
@import "typography";

html, body {
  font-family: 'Helvetica', sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.center {
  text-align: center;
}

.storyofsearch {
  width: $panel-width;
  overflow: hidden;

  .frame {
    border: solid 2em $frame-color;
    background-color: $fill-color;
  }
}

// Each vertical component, or page
.page {
  text-align: center;

  img {
    margin: 2% 0;
  }

  img.xlg {
      width: 90%;
    }

  img.lg {
      width: 80%;
    }

  img.md {
      width: 70%;
    }

  img.sm {
      width: 60%;
    }

  img.xsm {
      width: 50%;
    }

  img.xxsm {
      width: 40%;
    }

  img.xxxsm {
      width: 25%;
    }

  &.break {
    background: $dark-background;
    height: 150px;
    color: white;
  }
}

.index-interaction {
  margin-top: 32px;
  height: auto;
}

.vertical-rule {
  height: 200px;
  width: 1px;
  margin: 8% auto;
  background-color: $rule-color;
}
