body, p {
  font-family: $body-font;
  font-size: $mobile-font-size;
  font-weight: 400;
  letter-spacing: 0.1px;
  // prevent text orphaning
  widows: 3;
  orphans: 3;
}

.narration {
  max-width: 100%;
  padding: 0 1em 1em 1em;
  font-size: $mobile-font-size;
  font-weight: 400;
  font-style: italic;
  max-width: $line-length;
  margin-left: auto;
  margin-right: auto;
}

span.heart {
  color: $pink;
}

h1, h2, h3 {
  font-family: $body-font;
  letter-spacing: 0.3px;
}

h1 {
  font-size: $mobile-font-size * 2.5;
}
h2 {
  font-size: $mobile-font-size * 1.9;
  color: $chapter-index-color;
}
h3 {
  font-size: $mobile-font-size - 6;
  text-transform: uppercase;
}

.sm {
  font-size: $mobile-font-size - 6;
}

a {
  text-decoration: none;
  color: $blue;
  border-bottom: 2px solid $blue;
  &:hover {
    color: $indigo;
    border-color: $indigo;
  }
}

.footer {
  a {
    color: white;
    border-bottom: 1px solid white;
    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  p, .narration {
    font-size: $tablet-font-size;
  }
  h1 { font-size: $tablet-font-size * 2.5;}
  h2 { font-size: $tablet-font-size * 1.8;}
  h3 {font-size: $tablet-font-size - 6}
}

@media (min-width: $breakpoint-tablet) {
  p, .narration {
    font-size: $desktop-font-size;
  }
  h1 { font-size: $desktop-font-size * 2.5;}
  h2 { font-size: $desktop-font-size * 1.5;}
  h3 {font-size: $desktop-font-size - 6;}
}

@media (min-width: $breakpoint-display) {
  p, .narration {
    font-size: $display-font-size;
  }
  h1 { font-size: $display-font-size * 2.5;}
  h2 { font-size: $display-font-size * 1.5;}
  h3 {font-size: $display-font-size - 6;}
}
